{% extends "base.html" %}
    {% block titulo_pagina %}Cadastrar Cliente{% endblock titulo_pagina %}
    {% block conteudo %}
        <div class="row" style="padding-top: 100px; padding-left: 300px;">
            <form method="POST">{% csrf_token %}
                <br><br>
                <div class="form-group row">
                  <label for="nome" class="col-sm-2 col-form-label">Nome</label>
                  <div class="col-sm-10">
                    {{ form.nome }}
                  </div>
                </div>
                <div class="form-group row">
                    <label for="cpf" class="col-sm-2 col-form-label">CPF</label>
                    <div class="col-sm-10">
                      {{ form.cpf }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="telefone" class="col-sm-2 col-form-label">Telefone</label>
                    <div class="col-sm-10">
                      {{ form.telefone }}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      {{ form.email }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                      {{ form.oficina }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-warning butao-salvar">Cadastrar</button>
                    </div>
                </div>
            </form>
        </div>
    {% endblock conteudo %}